<nav class="bg-gray-800 text-white flex justify-between items-center px-4 py-2">
  <div>
    <a href="/home">
      <div class="flex items-center">
        <img
          src="/public/assets/logos/simple-logo.jpg"
          alt="Your Logo"
          class="h-8 w-8"
        />
        <span class="ml-2 text-lg font-semibold">IMat</span>
      </div>
    </a>
  </div>

  <div class="flex items-center">
    <a href="/profile">
      <div class="flex items-center">
        <span class="text-sm mr-2" id="navUsername">Username</span>
        <img src="·" alt="Profile Photo" class="rounded-full w-8 h-8" />
      </div>
    </a>
  </div>
</nav>
